.confirm,
.assign,
.pending,
.CSS,
.HTML,
.Javascript_1,
.javascript_2,
.javascript_3,
.Node_js,
.MySQL,
.React,
.Final_Project {
  color: #fff;
}

.confirm {
  background-color: #4897d8 !important;
}

.assign {
  background-color: #d88948 !important;
}

.CSS {
  background-color: #ff65b5 !important;
  color: #ffe1f5;
}

.HTML {
  background-color: #f7f4e9 !important;
  color: rgba(0, 0, 0, 0.5);
}

.Javascript_1 {
  color: rgba(0, 0, 0, 0.67);
  background: #f4d881 !important;
  background: linear-gradient(
          to right,
          #f4d881 1%,
          #f7e1a5 49%,
          #f4d881 100%
  ) !important;
}

.javascript_2 {
  background: #f7d56f;
  background: linear-gradient(
          45deg,
          #f7d56f 1%,
          #ffe189 48%,
          #f7d56f 100%
  ) !important;
  color: rgba(0, 0, 0, 0.67);
}

.javascript_3 {
  color: rgba(0, 0, 0, 0.7);
  background: #f7b900 !important;
  background: linear-gradient(
          to right,
          #f7b900 2%,
          #f7cb54 49%,
          #f7b900 100%
  ) !important;
}

.Node_js {
  background: #94b84d;
  background: linear-gradient(
          45deg,
          #94b84d 0%,
          #9dbc54 50%,
          #94b84d 52%,
          #94b84d 100%
  ) !important;
}

.MySQL {
  color: #dde9ff;
  background: #497cbd;
  background: linear-gradient(
          45deg,
          #497cbd 1%,
          #4283ce 47%,
          #497cbd 50%,
          #497cbd 100%
  ) !important;
}

.React {
  background-color: #05a0ca !important;
}

.Final_Project {
  background: #fa6e59 !important;
  background: linear-gradient(
          45deg,
          #fa6e59 1%,
          #f47c6f 47%,
          #fe6f5a 49%,
          #fa6e59 100%
  ) !important;
}
