.confirm,
.assign,
.pending,
.htmlCss,
.js2,
.js3,
.nodejs,
.mySql,
.react {
  color: #fff;
}

.confirm {
  background-color: #4897d8 !important;
}

.assign {
  background-color: #d88948 !important;
}

.CSS {
  background-color: #4897d8 !important;

  color: #fff;
}

.HTML {
  background-color: #429970 !important;
  color: #fff;
}

.Javascript_1 {
  background-color: #ffdb5c !important;
  color: #000;
}

.javascript_2 {
  background-color: #fa6e59 !important;
  color: #fff;
}

.javascript_3 {
  background-color: #be59fa !important;
  color: #fff;
}

.nodejs {
  background-color: #4897d8 !important;
}

.mySql {
  background-color: #6d6d6d !important;
}

.react {
  background-color: #59e5fa !important;
}
