.user {
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: all 0.5s;
    box-sizing: border-box;
    display: inline-block;
    float: left;
}

.user img {
    width: 100%;
}

.image {
    height: 33vw;
    width: 33vw;
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
    display: flex;
}

.userName {
    font-family: Space Mono, monospace;
    text-align: center;
    padding: auto 1rem;
    line-height: 1.7rem;
}

.socialIcons {
    margin-top: 1rem;
}

.socialIcons a {
    margin-right: 1rem;
    display: inline-block;
    color: #6c6c6c;
}

.socialIcons a:hover {
    color: #293a7d;
    transition: all 0.5s;
}

.socialIcons a i {
    background-repeat: no-repeat;
}

.defaultPhoto {
    width: 150%;
    max-width: 100%;
    margin: auto;
}

figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover + span {
    bottom: -36px;
    opacity: 1;
}

.shine figure {
    position: relative;
}

.shine figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
}

.shine figure:hover::before {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.zoomIn1 figure img {
    transform: scale(1);
    transition: 0.23s ease-in-out;
}

.zoomIn1 figure:hover img {
    transform: scale(1.2);
    filter: grayscale(100%);
}

.tag {
    font-size: 14px;
    border: solid 1px;
    margin: 2px 5px;
    padding: 0 5px;
    flex-wrap: wrap;
    display: inline-flex;
    background: #ffffff54;
}
